<header>
    <app-navbar></app-navbar>
    <h1>Desarrollador web front-end</h1>
    <p>Cristopher Bolivar</p>
    <div class="circle">
        <img class="photo" src="assets/img/foto.png" alt="">
    </div>
    <img src="assets/img/hero.svg" alt="">
</header>

<div class="about" id="aboutID">
    <div class="textAbout">
        <h2>Acerca de</h2>
        <p>
            Soy un estudiante de ingeniería en computación apasionado por el desarrollo de software. Me gusta
            investigar, conocer y aprender nuevas herramientas y
            tecnologías que me permitan lograr soluciones eficientes
            para desarrollar productos de calidad.
        </p>
        <a href="https://drive.google.com/file/d/1FER-iND6db7rt8AjHGKOB8xsoAsCLu80/view?usp=sharing" target="_blank">
            <button mat-raised-button>Descarga mi curriculum</button>
        </a>
    </div>
</div>

<div class="works" id="worksID">
    <h2>Trabajos</h2>
    <div class="work">
        <img class="workImg" src="assets/img/meraki.jpg" alt="">
        <div class="buttons">
            <div>
                <img class="pageImg" src="assets/img/codigo.png" alt="">
                <a href="https://github.com/cristopherBB/meraki" target="_blank">
                    <button mat-raised-button>Ver el codigo de la pagina ></button>
                </a>
            </div>
            <div>
                <img style="margin-left: -20px;" class="codeImg" src="assets/img/paginaWeb.png" alt="">
                <a href="https://meraki-page.herokuapp.com/" target="_blank">
                    <button mat-raised-button>Visitar el sitio web ></button>
                </a>
            </div>
        </div>
        <div class="buttonsResponsive">
            <a href="https://github.com/cristopherBB/meraki" target="_blank">
                <button mat-raised-button>Ver el codigo de la pagina ></button>
            </a>
            <a href="https://meraki-page.herokuapp.com/" target="_blank">
                <button mat-raised-button>Visitar el sitio web ></button>
            </a>
        </div>
        <div class="description">
            <h3>Pagina web para un negocio de reposteria (Meraki)</h3>
            <p>Se desarrollo una página
                web desde cero para mostrar los
                productos, información, ubicación,
                entre otros datos de un negocio de
                repostería. Para desarrollar la pagina
                se utilizo Angular, Angular material y
                librerías para agregar animaciones
            </p>
        </div>
    </div>
</div>

<div class="github">
    <p>Repositorio de GitHub</p>
    <a href="https://github.com/cristopherBB?tab=repositories" target="_blank">
        <button mat-raised-button>
            <div>
                <img src="assets/img/icono_github.png" alt="">
                <p>cristopherBB</p>
            </div>
        </button>
    </a>
</div>

<div class="contact" id="contactID">
    <h2>Contacto</h2>
    <div class="contact_list">
        <a href="https://mail.google.com/" target="_blank">
            <div class="element"> 
                <img src="assets/img/icono_email.png" alt="no hay imagen" class="icon_contact">
                <h2 style="font-size: larger; margin-bottom: 0;">cristopher.j.b.b@gmail.com</h2>
            </div>
        </a>
        <a href="https://linkedin.com/in/cristopher-bolivar-1b10b2233" target="_blank">
            <div class="element"> 
                <img src="assets/img/linkedin.png" alt="no hay imagen" class="icon_contact">
                <h2 style="font-size: larger; margin-bottom: 0; margin-left: 5px;">LinkedIn</h2>
            </div>
        </a>
        <a href="https://twitter.com/cristopherboliv" target="_blank">
            <div class="element"> 
                <img src="assets/img/icono_twitter.png" alt="no hay imagen" class="icon_contact">
                <h2 style="font-size: larger; margin-bottom: 0; margin-left: 5px;">@cristopherboliv</h2>
            </div>
        </a>
    </div>
</div>