<div style="position: relative;">
    <app-navbar></app-navbar>
    <div class="filter"></div>
    <img class="img_header" src="assets/img/fondo2.jpg" alt="">
    <div class="name">
        <label class="name2" id="prueba">Cristopher Bolívar</label>
        <br>
        <label class="role">Desarrollador web</label>
    </div>
</div>
<div style="text-align: center;">
    <img class="logo" src="assets/img/logo.png" alt="">
</div>
<div class="presentation" id="aboutID">
    <h2 class="about">Acerca de</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus esse, cupiditate animi iure vero provident <br> dignissimos dolorem distinctio odit nihil eaque, delectus, cumque maiores nesciunt vitae iusto voluptatem omnis recusandae.</p>
</div>
<div class="works" id="worksID">
    <h2 style="margin-bottom: 40px;">Trabajos</h2>
    <div class="works_container">
        <div class="work">
            <a href="https://meraki-page.herokuapp.com/" target="_blank"><img class="img_work" src="assets/img/merakiWeb.JPG" alt=""></a>
            <br>
            <label style="color: blue;">Meraki</label>
            <br>
            <label>HTML-CSS-TypeScript-Angular</label>
        </div>
    </div>
    <div class="element" style="margin-top: 50px;"> 
        <img src="assets/img/icono_github.png" alt="no hay imagen" class="icon_contact" style="height: 29px;">
        <a href="https://github.com/cristopherBB" target="_blank" style="font-size: larger; margin-bottom: 0; margin-left: 7px;">Repositorio</a>
    </div>
</div>
<div class="contact" id="contactID">
    <h2 style="color: blue;">Contacto</h2>
    <div class="contact_list">
        <div class="element"> 
            <img src="assets/img/icono_email.png" alt="no hay imagen" class="icon_contact">
            <h2 style="font-size: larger; margin-bottom: 0;">cristopher.j.b.b@gmail.com</h2>
        </div>
        <div class="element"> 
            <img src="assets/img/icono_twitter.png" alt="no hay imagen" class="icon_contact">
            <h2 style="font-size: larger; margin-bottom: 0; margin-left: 5px;">@cristopherboliv</h2>
        </div>
    </div>
</div>


