.img_header {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: -1;
}

.filter{
    background: black;
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 0;
    opacity: 0.31;
}

.logo{
    width: 85px;
    position: relative;
    margin-top: 353px;
}

.name{
    width: 338px;
    height: 100px;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 117px;
    left: 50%;
    margin-left: -169px;
    .name2{
        color: white;
        font-size: xx-large;
    }
    .role{
        color: white;
        font-size: large;
    }
    @media (max-width: 500px){
        width: 250px;
        margin-left: -125px;
        .name2{
            font-size: x-large;
        }
        .role{
            font-size: large;
        }
    }
}



.presentation{
    margin-top: 33px;
    text-align: center;
    .about{
        color: rgb(224, 95, 3);
    }
}

.works{
    margin-top: 40px;
    background: #a9a9a930;
    width: 100%;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.img_work{
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.work{
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.works_container{
    display: inline-flex;
    flex-wrap: wrap;
    width: 54%;
    justify-content: space-evenly;
}

.contact{
    text-align: center;
    margin-top: 40px;
}

.example-full-width{
    margin: 10px;
}

.example-full-width2{
    margin: 10px;
    width: 424px;
    margin-top: 0px;
}

.element{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_contact{
    height: 40px;
}

.contact_list{
    margin-top: 50px;
    width: 41%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 55px;
    @media (max-width: 1114px){
        flex-direction: column;
    }
}