.img_header {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: -1;
}

.filter{
    background: black;
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 0;
    opacity: 0.31;
}

.logo{
    width: 85px;
    position: relative;
    margin-top: 353px;
}

.name{
    width: 338px;
    height: 100px;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    position: absolute;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 117px;
    left: 50%;
    margin-left: -169px;
}

.name2{
    color: white;
    font-size: xx-large;
}

.role{
    color: white;
    font-size: large;
}

.presentation{
    margin-top: 33px;
    text-align: center;
}

.about{
    color: rgb(224, 95, 3);
}

.works{
    margin-top: 40px;
    background: #a9a9a930;
    width: 100%;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.img_work{
    width: 140px;
    height: 140px;
}

.work{
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.works_container{
    display: inline-flex;
    flex-wrap: wrap;
    width: 54%;
}

.contact{
    text-align: center;
    margin-top: 40px;
}

.example-full-width{
    margin: 10px;
}

.example-full-width2{
    margin: 10px;
    width: 424px;
    margin-top: 0px;
}

