<div class="navbar">
    <!-- nuevo -->
    <a href="https://portafolio-cristopher-bolivar.herokuapp.com/" style="text-decoration: none;">
        <div class="logo">
            <mat-icon>desktop_windows</mat-icon>
            <h2>Portafolio</h2>
        </div>
    </a>
    <!--  -->
    <div>
        <button mat-button class="button" (click)= "about()" >Sobre mi</button>
        <button mat-button class="button" (click)= "works()">Trabajos</button>
        <button mat-button class="button" (click)= "contact()">Contacto</button>
    </div>
</div>
